<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Orientation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="images/Drift_Racing_Team_logo.png">
  </head>
  <body>
    <nav class="navbar fixed-top bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="images/Drift_Racing_Team_logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            Home
          </a>
        </div>
      </nav>

      <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="images/wallpaper.jpg" class="d-block w-100" style="height: 550px;">
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="images/race car 2.jpg" class="d-block w-100" style="height: 550px;">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="images/race car3.jpg" class="d-block w-100" style="height: 550px;">
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <h2 style="background-color: white;" > Welcome to the Drift Racing Team!</h2>
        <p>
        As a new member of our team, we are thrilled to have you on board and can't wait for you to 
        experience all the excitement and challenge that comes with being a part of our family. 
        Our team is made up of a diverse group of college students who share a passion for racing 
        car design and a commitment to excellence.
        We understand that transitioning to college and joining a new team can be overwhelming,
        but we are here to support you every step of the way. Our team culture is based on collaboration,
        inclusivity, and support, and we believe that by working together, we can achieve great things.
        </p>
        <p>
        To get you started, here are a few key things you need to know about the Drift Racing Team:
        </p>
        <ul>
            <li>
            Get involved in the design process: Our team is always looking for new and innovative ideas,
             and we encourage you to get involved in the design process from the very beginning.
              Whether it's brainstorming new concepts or working on the engineering details, your 
              contributions are valued and appreciated.
            </li>
            <li>
            Attend team meetings: Regular team meetings are a great opportunity for you to stay 
            up-to-date with what's happening in the team and to share your own ideas and thoughts. 
            Make sure you attend these meetings and take an active role in the discussions.
            </li>
            <li>
            Get to know your team mates: Our team is made up of a great group of people, and 
            getting to know them is key to making the most of your time with us. Make an effort 
            to introduce yourself, attend team social events, and strike up conversations with your 
            team mates.
            </li>
            <li>
            Practice, practice, practice: As with any sport, practice is key to success in racing 
            car design. Make sure you put in the time and effort to improve your skills and knowledge,
             and seek out opportunities to get hands-on experience.
            </li>
        </ul>
    
    <h2>Welcome to the Drift Racing Team's registration page!</h2>
    
    <p>
        We're thrilled that you're interested in joining our team and taking the first step towards 
        becoming a part of our racing car design community. To make the registration process as simple 
        and straightforward as possible, we have created an online form that can be completed in just a 
        few minutes.
    </p>
    <a href="register">
    <div class="d-grid gap-4 col-6 mx-auto">
        <button class="btn btn-dark btn-lg" type="button">Register Here</button>
      </div></a>

      <br>
      <hr>
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="https://www.driftracingteam.in/" class="nav-link px-2 text-muted">Home</a></li>
          <li class="nav-item"><a href="https://www.driftracingteam.in/" class="nav-link px-2 text-muted">About</a></li>
          <li class="nav-item"><a href="https://www.driftracingteam.in/" class="nav-link px-2 text-muted">Gallery</a></li>
          <li class="nav-item"><a href="https://www.driftracingteam.in/" class="nav-link px-2 text-muted">Team</a></li>
        </ul>
        <p class="text-center text-muted">Drift Racing Team</p>
      </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>