<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/Drift_Racing_Team_logo.png">
    <link rel="stylesheet" href="css/success.css">
    <title>Registered Successfully</title>
</head>
<body>
    <div class="container">
        <div class="message">
            <img src="images/tick.png">
            <h2>Thank You!</h2>
            <p>You have registered Successfully.</p>
            <br>
            <p>Name: {{firstName}} {{lastName}}</p>
            <p>Registration No.: {{registrationNo}}</p>
            <br>
            <p>For further information join our whatsapp group. Thanks!</p>
            <a href="https://chat.whatsapp.com/K0e11u8nhla5hQoRN2fRUG"><button type="button">Join now</button></a>
            <br><br>
            <p>For any queries Contact us:</p>
            <br>
            <p>Whatsapp Us: 9771574264</p>
            <p>Mail us: 2021ugee063@nitjsr.ac.in</p>
        </div>
    </div>
</body>
</html>