<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="icon" href="images/Drift_Racing_Team_logo.png">
    <link rel="stylesheet" href="css/registration form.css">
</head>
<body>
    
    <div class="container">
        <h1 class="form-title">Registration Form</h1>
        <form action="/register" method="post" enctype="multipart/form-data">
            <div class="main-user-information">
                <div class="user-input-box">
                    <label for="first name">First Name* :</label>
                    <input type="text" name="firstName" class="form-control" id="validationCustom01"  placeholder="first name" required>
                </div>
                <div class="user-input-box">
                    <label for="lastname">Last Name :</label>
                    <input type="text" name="lastName" class="form-control" id="validationCustom01"  placeholder="last name">
                </div>

                <div class="user-input-box">
                    <label for="registrationNo.">Registration No.* :</label>
                    <input type="text" name="registrationNo" class="form-control" placeholder="Enter Registration No." id="inputregistration" required>
                </div>
                <div class="user-input-box">
                    <label for="email">Email* :</label>
                    <input name="email" type="email" class="form-control" id="inputEmail4" required placeholder="xyz@gmail.com">
                </div>
                <div class="user-input-box">
                    <label for="phoneNo">Phone No.* :</label>
                    <input type="tel" name="phoneNo" class="form-control" id="inputtele" placeholder="Enter phone No." required>
                </div>
                <div class="user-input-box">
                    <label for="select">Branch* :</label>
                    <select name="branch" class="form-select" aria-label="Default select example" required>
                         <option value="CSE" selected>Computer Science Engineering</option>
                         <option value="ECE">Electronics and Communication Engineering</option>
                         <option value="EE">Electrical Engineering</option>
                         <option value="ME">Mechanical Engineering</option>
                         <option value="CE">Civil Engineering</option>
                         <option value="MME">Metallurgical Engineering</option>
                         <option value="PI">Production Engineering</option>
                         <option value="ECM">Engineering and Computational Mechanics</option>
                      </select>
                </div>
                <div class="user-input-box">
                    <label for="department">Department Intrested :</label>
                    <select name="interestedIn" class="form-select" aria-label="Default select example" required>
                    <option selected value="TECHNICAL">TECHNICAL</option>
                    <option value="CREATIVE">CREATIVE</option>
                    <option value="WEB TEAM">WEB TEAM</option>
                  </select>
                </div>
                <div class="user-input-box">
                    <label for="resume">CV/Resume* :</label>
                    <input name="application/pdf" accept="application/pdf" type="file" class="form-control" id="inputfile" style="background-color: white;" required>
                </div>
                <div class="user-input-box">
                    <label for="inputTeam">Teams Joined :</label>
                    <input name="otherTeams" type="text" class="form-control" id="inputTeam" placeholder="type here">
                </div>
            </div>
            <div class="attend-orientation">
                <span class="attend-title">Have you attend orientation?</span>
                <div class="category">
                    <input type="radio" id="customRadio1" value="yes" name="attendedOrientation" class="custom-control-input">
                    <label for="yes">Yes</label>
                    <input type="radio" id="customRadio2" value="no" name="attendedOrientation" class="custom-control-input">
                    <label for="no">No</label>
                </div>
                <div class="info">
                  Note : CV/Resume file must be in PDF format and less than 2 MB.
                </div>  
            </div>
            <div class="form-submit-btn">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>
</html>